In [1]:
name= input("enter your name:")
print("welcome "+name)

enter your name:harsha lal
welcome harsha lal

In [4]:
num1 = int(input("enter first number:"))
num2 = float(input("enter second number:"))
print(num1 + num2)
print(num1 - num2)
print(num1 / num2)
print(num1 // num2)
print(num1 * num2)
print(num1 ** num2)
print(num1 % num2)

enter first number:20
enter second number:2.2
22.2
17.8
9.09090909090909
9.0
44.0
728.2256812104325
0.1999999999999984

In [11]:
num1,num2 = input("enter two number:").split()
num1=int(num1)
num2=int(num2)
print(num1 + num2)
print(num1 - num2)
print(num1 / num2)
print(num1 // num2)
print(num1 * num2)
print(num1 ** num2)
print(num1 % num2)

enter two number:20 10
30
10
2.0
2
200
10240000000000
0

In [12]:
print('09','12','2016',sep='-')

09-12-2016